
body{
    margin: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

title{
    display: none;
}

h1{
    text-align: center;
    font-size: large;
}

div h2{
    font-weight: bold;
    font-size: small;
    display: contents;
}


.btn-grp button, .btn-grp2 button{
    background-color: lightblue;
    border: 1px solid blue;
    color: black;
    padding: 5px 10px;
    cursor: pointer;

    transition: transform .2s;
}

.btn-grp button:hover, .btn-grp2 button:hover{
    transform: scale(1.05);
    background-color: blue;
    color: white;
    border-color: black;

}

.submit button{
    background-color: lightgreen;
    border: 1px solid green;
    color: black;
    padding: 5px 10px;
    cursor: pointer;

    transition: transform .2s;
}

.submit button:hover{
    transform: scale(1.05);
    background-color: green;
    color: white;
    border-color: black;
}

.stato, .disponibilita, .depositi, .corrente, .Ndays, .numeroDepositi, .quantitaDepositate{
    margin: 30px 0px;
}